//
//  Debug-Prod.xcconfig
//  SeekIt
//
//  Created by g.b.rastogi on 29/09/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_ENVIRONMENT = Debug-Prod
APP_BUNDLE_NAME = Seekit-Prod
APP_BUNDLE_VERSION = 1.0.1
APP_BUILD_NUMBER = 1
APP_BUNDLE_ID = com.rastogigaurav.seekit.debug-prod
BASE_URL = https:\/\/api.productionserver.com
IS_LOCAL_ENVIRONMENT = NO
